<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book specific room</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="background">
  <ul class="ul2">
  <li><a href="/home" target="_parent" rel="noreferrer noopener">Home</a></li>
  <li><a href="tel:9698650004">Contact</a></li>
  <li><a href="">Feedback</a></li>
</ul>
    <!-- <p><%=user%> </p>
    <% for( i=0;i<foundall.length;i++){ %>
    <p><%= foundall[i] %> </p>
    <p><%= foundall[i].blockno %> </p>
    <% } %>  -->
    <h1 class="createheading">SELECT THE ROOM TO BOOK</h1>
    <form action="/bookspecificroom" method="POST">

        <% for( i=0;i<foundall.length;i++){ %>
            <button class="btn" class="input" onclick="document.querySelector('form').innerHTML='<input type="number" name="roomno" value='<%= foundall[i].roomno %> '> <%= foundall[i].roomno   %></button>
        <% } %>
        <button class="btn" class="input" >CONFIRM BLOCK</button>
    </form>
                  <ul class="ul">
                  <li style="float:right" class="li">© 2021 TRMS</li>
                  <li class="li">THAPAR ROOM MANAGEMENT SYSTEM</li>
                  </ul>

</body>
</html>
