<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book specific room</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <!-- <p><%=user%> </p>
    <% for( i=0;i<foundall.length;i++){ %>
    <p><%= foundall[i] %> </p>
    <p><%= foundall[i].blockno %> </p>
    <% } %>  -->
    <h1 class="createheading">SELECT THE ROOM TO BOOK</h1>
    <form action="/bookspecificroom" method="POST">
        
        <% for( i=0;i<foundall.length;i++){ %>
            <button class="btn" class="input" onclick="document.querySelector('form').innerHTML='<input type="number" name="roomno" value='<%= foundall[i].roomno %> '> <%= foundall[i].roomno   %></button>
        <% } %> 
        <button class="btn" class="input" >CONFIRM BLOCK</button>
    </form>
    
    <div class="bottom-container">
      <p class="copyright">© 2021 TRMS</p>
      <a class="go-home " href="/home" target="_parent" rel="noreferrer noopener">go to home page</a>
      <a class="footer-link1" href="tel:9698650004">Contact us</a>
      <a class="footer-link2" href="">Feedback</a>


      </div>
</body>
</html>