<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <ul class="ul2">
  <li><a href="/home" target="_parent" rel="noreferrer noopener">Home</a></li>
  <li><a href="tel:9698650004">Contact</a></li>
  <li><a href="">Feedback</a></li>
</ul>
<div class="showall">


    <% if(s.length==0 ){%>
        <br>
        <p class="noroom">NO ROOM BOOKED BY YOU </p>
    <% } else{%>
        <br>
    <% for(i=0;i<s.length;i++){ %>
    <p class="info" style="color: #290001;font-size: 1rem;font-weight:bold ; ">BLOCK NO.:- <%= s[i].blockno %><br><br>
        ROOM NO.:- <%= s[i].roomno %> <br><br>
        CAPACITY:- <%= s[i].capacity %><br><br>
        BOOKER'S LOGIN ID:- <%= s[i].bookerloginid %><br><br>
        BOOKER'S TEACHER ID:- <%= s[i].bookerteacherid %><br><br>
        BOOKER'S NAME:- <%= s[i].bookername %><br><br>
        BOOKER'S CONTACT NO.:- <%= s[i].bookercontactno %><br><br>
        DATE OF BOOKING:- <%= s[i].dateofbooking %><br><br>
        TIME OF BOOKING:- <% if(s[i].ninetotwelve==true){ %>
        9am-12pm
        <%} else if(s[i].twelvetothree==true) {%>
        12pm-3pm
        <% }else if(s[i].threetosix==true) {%>
        3pm-6pm
        <% }else if(s[i].sixtoeight==true){ %>
        6pm-8pm
        <%} %>

    </p>
    </div>
    <form method="post" action="/viewmybookings">
        <!-- <p><%= s[i]._id %> </p> -->
        <!-- <button>Cancel Booking</button> -->
        <button class="btn" class="input" onclick="document.querySelector('input').innerHTML='<input type="text" name="id" value='<%=s[i].id%>' '>Cancel Booking</button>
    </form>
    <% }} %>
    <form class="bottom" action="/home" method="GET">
        <button class="btn">GO TO HOME PAGE</button>
    </form>
    <ul class="ul">
    <li style="float:right" class="li">© 2021 TRMS</li>
    <li class="li">THAPAR ROOM MANAGEMENT SYSTEM</li>
    </ul>


</body>
</html>
